.app {
  height: 100vh;
  padding: 40px;
  text-align: center;
}


.todo-list {
  background: #ffffff70;
  border-radius: 10px;
  max-width: 400px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.todo {
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  display: flex;
  font-size: 1.0em;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 10px;
}

input {
  width: 95%;
  padding: 5px 10px;
  background: rgba(241, 243, 250, 0.801);
}

.hook {
  max-width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color:#fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-left: 5px;
  border-radius: 3px;
  border: none;
  height: 23px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}

.complete {
  background: #73e0f4;
}

.remove {
  background: rgb(162, 162, 162);
}